.bg-image {
  background-image: radial-gradient(circle, rgba(0, 212, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, rgba(0, 0, 0, 0.8016456582633054) 86%), url(../images/main-bg.jpg);
  background-position: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  overscroll-behavior-x: contain;
}

.home-title {
  font-weight: bold !important;
  font-size: 4.5em !important;
}

.home-subtitle {
  font-size: 1.5em !important;
}
