.bg-image {
  background-image: radial-gradient(circle, rgba(0, 212, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, rgba(0, 0, 0, 0.8016456582633054) 86%), url(../../public/main-bg.jpg);
  background-position: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  overscroll-behavior-x: contain;
}

.bg-left {
  background: rgba(0, 0, 0, 0.4);
}

.bg-right {
  background: rgba(0, 0, 0, 0.7);
}
